*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right , #360033 , #0b8793);
    font-family: sans-serif;
}


.project{
    .header{
        
            color: #fff;
            margin: 5px 0;
            font-size: 3rem;
        
    }
}